<td class="table-division">
    <div>{{this.name}}</div>
</td>
<td class="table-division">
    <div>{{this.employeeID}}</div>
</td>
<td class="table-division">
    <div>{{this.email}}</div>
</td>
<td class="table-division">
    <div>{{this.contactNumber}}</div>
</td>
<td class="table-division">
    <div>{{this.userType}}</div>
</td>
<td class="table-division">
    <a href="" class="fa fa-edit table-icon"></a>
</td>
<td class="table-division">
    <a href="" class="fa fa-trash table-icon"></a>
</td>