<td class="table-division">
    <div>{{this.name}}</div>
</td>
<td class="table-division">
    <div>{{this.employeeID}}</div>
</td>
<td class="table-division">
    <div>{{this.email}}</div>
</td>
<td class="table-division">
    <div>{{this.contactNumber}}</div>
</td>
<td class="table-division">
    {{#each this.userType}}
    <div>{{this}}</div>
    {{/each}}
</td>
<td class="table-division">
    <a href="/edit-user/{{this._id}}" class="fa fa-edit table-icon"></a>
</td>
<td class="table-division">
    <a href="" id = "{{this._id}}" class="fa fa-trash table-icon userDeleteButton"></a>
</td>