<td class="table-division">
    <div>{{this.collegeID}}</div>
</td>
<td class="table-division">
    <div>{{this.collegeName}}</div>
</td>
<td class="table-division">
    <div>{{this.collegeAddress}}</div>
</td>
<td class="table-division">
    <div>{{this.city}}</div>
</td>
<td class="table-division">
    <div>{{this.collegeSPOC.name}}</div>
</td>
<td class="table-division">
    <div>{{this.collegeSPOC.phone}}</div>
</td>
<td class="table-division">
    <a href="" class="fa fa-edit table-icon"></a>
</td>
<td class="table-division">
    <a href="" id="{{this._id}}" class="fa fa-trash table-icon collegeDeleteButton"></a>
</td>