{{> navbar}}

<div class="main-container">
    <div class="user-events">
        <h2 class="assignment-title">Upcoming Assignments</h2>
        {{#each futureTrips}}
        <div class="card-info">
            <ul>
                <li><span class="bold">City:</span> {{this.college.city}} </li>
                <li><span class="bold">College Name:</span> {{this.college.collegeName}} </li>
            </ul>
            <ul class="list-sorting">
                {{{list-dates this.tripDates}}}
            </ul>
            <button id="see-more">View More</button>
        </div>
        {{/each}}
        <div>
        </div>
        <h2 class="assignment-title">Current Assignment</h2>
        {{#each currentTrip}}
        <div class="card-info">
            <ul>
                <li><span class="bold">City:</span> {{this.college.city}} </li>
                <li><span class="bold">College Name:</span> {{this.college.collegeName}} </li>
            </ul>
            <ul class="list-sorting">
                {{{list-dates this.tripDates}}}
            </ul>
            <button id="see-more">View More</button>
        </div>
        {{/each}}
        <h2 class="assignment-title">Previous Assignments</h2>
        {{#each previousTrip}}
        <div class="card-info">
            <ul>
                <li><span class="bold">City:</span> {{this.college.city}} </li>
                <li><span class="bold">College Name:</span> {{this.college.collegeName}} </li>
            </ul>
            <ul class="list-sorting">
                {{{list-dates this.tripDates}}}
            </ul>
            <button id="see-more">View More</button>
        </div>
        {{/each}}
    </div>
    <div class="user-event-more"></div>
</div>